@charset "utf_8";
*{
    padding: 0%;
    margin: 0%;
}
:root{
    --cordourada:rgb(125, 133, 14);
}
header{
    height: 300px;
    color: var(--cordourada);
    background-color: black;
}
header h1{
    padding-top: 50PX;
    font-size: 8VW;
    text-align: center;
    font-variant: small-caps;
}
header p{
     text-align: center;
     padding-top: 40px;
     font-size: 23px;
}
header a{
    text-decoration: none;
    color: white;
}
body{
    background-color: rgb(244, 250, 255);
}
header a:hover{
    text-decoration: underline 1px;
}
.normal{
    padding-top:15px;
    padding-top:15px;
    padding-left:30px; 
    line-height: 6.5vw;
    font-size: 3.5vw;
    font-style: italic;
    font-family:cursive;
    font-weight: bolder;
}
.img{
    padding-top:15px;
    padding-top:15px;
    padding-left:15px;
    line-height: 6.5vw;
    font-size:3.5vw;
    font-style: italic;
    font-family:cursive;
    font-weight: bolder;
}
.img p{
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    padding: 15px;
    display:inline-block
}
#img1{
    background-image: url(imagem/img1.jpg);
    background-size: cover;    
    background-attachment: fixed;
    background-position: center;
}
#img2{
    background-image: url(imagem/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}
#img3{
    background-image: url(imagem/img3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
footer p{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 3vw;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
}